*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}
.portfolio-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
}

/* .navlist{
    display: flex;
    gap: 3.5rem;
    height: 10vh;
    background-color: #262525;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;

    
}
.navlist li{
    list-style: none;
}

.navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    position: relative;
    right: 30px;
    text-align: end;
} */

.navlist {
    display: flex;
    gap: 3rem;
    height: 10vh;
    background-color: #262525;
    width: 100%;
    justify-content:space-between; /* Align items to the left */
    align-items: center;
    position: fixed;
    z-index: 10;
    padding: 0 2rem; /* Add padding for spacing */
}

.vision {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-left: 3rem;
    /* margin-right: 1rem; Push navigation links to the right */
}

.vision span {
    color: #4ba3f1; /* Blue color for "VISION" */
}

.navlist li {
    list-style: none;
}

.navlist li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    position: relative;
}

.nav-items{
    display: flex;
    gap: 2rem;
}

.left-container, .right-container{
    height: 100vh;
    display: flex;
    align-items: center;


}
.vision{
    color: #fff;
    font-size: 2rem;
}
.vision span{
    color:#5DB9EE;

}
.left-container{
    background:#262525;
    width: 70%;
    padding-left: 3rem;
}
.right-container{
    background: linear-gradient(-45deg, #3877FF, #262525 70%) ;
    width: 30%;
}
.icons{
    margin-top: -2rem;
}
.icons a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background: transparent;
    border: 2px solid #5DB9EE;
    font-size: 2rem;
    color: #5DB9EE;
    text-decoration: none;
    transition: .5s ease;
    border-radius: 50%;
    margin-top: 80%;
}
.icons a:hover{
    background-color: #5DB9EE;
    color: #262525;
    box-shadow: 0 0 20px #5DB9EE;
}

.content .intro{
    font-size: 2.5rem;
    color: #fff;


}
.content .intro span{
    color: #5DB9EE;

}
.content h1{
    font-size: 4rem;
    color: #5DB9EE;

}
.content .detail{
    font-size: 1.1rem;
    color: #fff;
    max-width: 38rem;
    margin: 1.1rem 0 3rem 0;
    line-height: 1.8rem;


}
.content{
    scale: 1;
    margin-left: 4rem;

}
.button-container button{
    border: .1rem solid #5DB9EE ;
    font-size: 1.1rem;
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s ease;

}
button:nth-child(1){
    background: #5DB9EE;
    color:#262525 ;
}
button:nth-child(2){
    background: transparent;
    color: #5DB9EE;
    margin-left: 2rem;

}
button:nth-child(1):hover{
    background: transparent;
    color: #5DB9EE;
}
button:nth-child(2):hover{
    background: #5DB9EE;
    color: #262525;
}
.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top:50%;
    left: 70%;
    transform:translate( -50%, -50%);

}
.circle:nth-child(1){
    background: linear-gradient(90deg ,transparent 50%,#262525 50%);
    
    width: 38rem;
}
.circle:nth-child(2){
    width: 30rem;
    background-image: url("./images/guna-img.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    border: .1rem solid white;
    box-shadow: 
    0 0 1rem #fff,
    inset 0 0 1rem #fff ,
    0 0 2rem #3877FF,
    inset 0 0 2rem #3877FF,
    0 0 4rem #3877FF,
    inset 0 0 4rem #3877FF;
    

}
.navlist li a::after{
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height: .1rem;
    left: 0;
    bottom: -5px;
    transform: scalex(0);
    transform-origin: bottom right;
    transition: trasform .5s;

}
.navlist li a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;

}

/*-------------- EDUCATION SECTION START-------------- */
.edu-container{
    min-height: 100vh;
    width: 100%;
    display: flex;

}
.l-container{
    background:#262525;
    width: 70%;
    padding-left: 3rem;
}
.r-container{
    background: linear-gradient(-45deg, #3877FF, #262525 70%) ;
    width: 30%;
}
.Education {
    margin-left: 4rem;
    
}
.Education .Edu-2{
    font-size: 60px;
    color: #5DB9EE;
    position: relative;
    top: 120px;
    
}
.box-01{
    border: solid #5DB9EE 2px;
    padding: 5%;
    border-radius: 6rem;
    width: 90%;
    padding-left: 6rem;
    
}
.box-01 span{
    color: #5DB9EE;
}
.box-02{
    border: solid #5DB9EE 2px;
    padding: 5%;
    border-radius: 6rem;
    width: 90%;
    padding-left: 6rem;
    margin-top: 1rem;
}
.box-02 span{
    color: #5DB9EE;
}
.box-school{
    font-size: 30px;
    color: white;
    position: relative;
    top: 160px;
    margin-left: 5rem;
    margin-top: 3rem;
    
}
.box-school{
    margin-top: 3rem;
}
.education-image{
    margin-top: 185px;
    margin-left: 56px;
    border-radius: 50%;
}


/* -------SKILL SECTION START--------- */



.skill-container{
    min-height: 100vh;
    width: 100%;
    display: flex;

}
.le-container{
    background:#262525;
    width: 100%;
    padding-left: 3rem;
}

.le-container .Skills{
    font-size: 60px;
    color: #5DB9EE;
    position: relative;
    top: 80px;
}

.grid{
    position: relative;
    top: 130px;
    color: #fff;
    display: flex !important;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;

}

.grid>div{
    width: 35%;
}

.grid .skillIcon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.grid h4{
    display: flex;
    gap: 1rem;
    align-items: center;
}


/* ----------HOBBY SECTION STARTED -------- */


.hobby-container{
    min-height: 100vh;
    width: 100%;
    display: flex;}
.lef-container{
    background:#262525;
    width: 70%;
    padding-left: 3rem;

}

.ho{
    font-size: 60px;
    color: #5DB9EE;
   display: flex;
   justify-content: center;
   margin-top: 6rem;
    
}
.hobby-section {
    padding: 50px;
    text-align: center;
}



.hobby-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 29px;
    padding: 20px;
   
}

.hobby-item {
    background-color: #366bdf;
    border-radius: 10px;
    height: 400px;
    width: 350px;
}
.pad{
    padding: 10%;
    border-radius: 2rem;
    
}
.hobby-item h3 {
    color: #fff;
}
.hobby-item:hover{
    box-shadow:
        0 0 20px rgba(255, 255, 255, 0.9),
        0 0 50px rgba(0, 128, 255, 0.8),
        0 0 100px rgba(0, 128, 255, 0.6),
        inset 0 0 25px rgba(255, 255, 255, 0.7),
        inset 0 0 40px rgba(255, 255, 255, 0.4);
   
}

.hobby-item:hover h3 {
    color: black;
}


/* ------contact section start--------- */




.contact-container{
    min-height: 80vh;
    width: 100%;
    background:#262525;
    display: flex;}
.lef-container{
    background:#262525;
    width: 100%;
    padding-left: 3rem;

}

.school{
    font-size: 60px;
    color: #5DB9EE;
    position: relative;
    top: 100px;
}

.contact-info{
    margin-top: 24%;
    color: #fff;
}
.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.contact-item i {
    font-size: 3rem;
    color: #5DB9EE;
    margin-right: 15px;
}
.contact-form {
    flex: 0 0 45%;
    margin-top: 13rem;
    margin-right: 6.5rem;
    color: #fff;
}
.contact-form input ,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: #5DB9EE;
    border: none;
    border-radius: 5px;
    color: #fff;
}
.contact-form textarea {
    height: 150px;
    resize: none;
}
.contact-form .btn {
    background: #5DB9EE;
    color: #1F242D;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
.contact-form .btn:hover {
    background-color: transparent;
    color: #fff;
    box-shadow: 0 0 20px #5DB9EE;
}
.contact-form input::placeholder,.contact-form textarea::placeholder{
    color: white;
}


/*English Skills section*/
.english-skills-section {
    border-radius: 10px;
    scroll-margin: 200px;
    padding: 40px;
    text-align: center;
    /* background-color: #F9F9F9; */
}
.english-skills-title {
    font-size: 50px;
    color: black;
    text-shadow: 8px 20px 3px gray;
    font-family: "Archivo Black", sans-serif;
    letter-spacing: 5px;
    margin-bottom: 150px;
    scroll-margin: 120px;
}
.english-skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}
.english-skill {
    width: 45%;
    margin-bottom: 20px;
    text-align: center;
}
.english-skill-name {
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: 100;
}
.stars {
    font-size: 50px;
    color: rgb(182, 156, 9);
}


/* FOOTER STYLES */
.footer {
    background: #366bdf;
    padding: 40px 10%;
    text-align: center;
    height: 20vh;
}
.footer .social {
    margin-bottom: 20px;
}
.footer .social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #2A2F3D;
    margin: 0 10px;
    border-radius: 50%;
    color: #fff;
    line-height: 40px;
    font-size: 20px;
    transition: 0.3s ease;
}
.footer .social a:hover {
    background: #0ef;
    color: #1F242D;
}
.footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.footer ul li {
    margin: 0 15px;
    background-color: #366bdf;
}
.footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
    background-color: #366bdf;
}
.footer ul li a:hover {
    color: black;
    background-color: #366bdf;
}

.footer-new{
    background-color: #366bdf;
}

.skills-section {
    padding: 50px;
    text-align: center;
    
}



.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 29px;
    padding: 20px;
   
}

.skill-item {
    background-color: #5DB9EE;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
}


@media (max-width: 430px){
    
    .navlist{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     width: 100vw;
     gap: 1rem;
     position: fixed;
     z-index: 12;
 
     
 
 
    }
    
    .navlist li a{
     font-size: 15px;
     margin-left: 7px;
    }
   
 
    .vision{
     display: none;
    }
   
    .circle:nth-child(2){
     display: none;
    }
 
    .design .circle{
     display: none;
    }
    .right-container{
     display: none;
    }
    .left-container{
     width: 100vw;
     margin-top: 10vh;
 
     
    }
 
    .skill-container{
     width: 100vw;
     overflow: hidden;
    }
 
    .r-container{
        display: none;
    }
 
    
    
    
    
    
 
   
 
 
 }


  